div{
    width: 150px;
    height: 150px;
    margin: 20px;
}
.caixa1{
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: -1;
}
.caixa2{
    background-color: blue;
    position: absolute;
    top: 150px;
    left: 400px;
}
.caixa3{
    background-color: green;
    position: fixed;
    bottom: 20px;
    right: 200px;
}
body{
    height: 200hv;
}
